.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.heading {
  text-align: center;
  margin-bottom: 30px;
}

.input {
  margin-bottom: 10px;
}

.button {
  width: 100%;
}

.example-text {
  margin-top: 20px;
  font-size: 11px;
  color: blue;
  text-align: center;
}

.div-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.card {
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 0 40px;
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
}
